:root {
  --tw-color-crimson: #ea0029;
  --tw-crimson-gradien: linear-gradient(
      255.35deg,
      #dc3131 0.83%,
      rgba(255, 79, 79, 0) 108.93%
    ),
    #ff5e56;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('/font/LabGrotesque-Regular.eot');
  src: local('Lab Grotesque Regular'), local('LabGrotesque-Regular'),
    url('/font/LabGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
    url('/font/LabGrotesque-Regular.woff2') format('woff2'),
    url('/font/LabGrotesque-Regular.woff') format('woff'),
    url('/font/LabGrotesque-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src: url('/font/LabGrotesque-Medium.eot');
  src: local('Lab Grotesque Medium'), local('LabGrotesque-Medium'),
    url('/font/LabGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
    url('/font/LabGrotesque-Medium.woff2') format('woff2'),
    url('/font/LabGrotesque-Medium.woff') format('woff'),
    url('/font/LabGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

#app {
  height: 100%;
  @apply flex items-center justify-center;
  background: var(--tw-crimson-gradien);
  box-shadow: 0px -0.11px 16.9495px rgba(183, 187, 225, 0.33);
}

.popup {
  @apply fixed top-0 left-0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  z-index: 999;
}

.popup__head {
  margin-top: 12px;
}

.popup__button {
  @apply px-8 py-4 text-base font-medium leading-5 text-white border border-white rounded;
}

.popup__backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  @apply absolute top-0 bottom-0 left-0 right-0 z-10 cursor-pointer;
}

.popup__content {
  @apply relative z-20 p-8 bg-white;
}

.popup__heading {
  @apply mb-6;
}

.popup__title {
  @apply mb-4 font-medium leading-6 text-2/5xl;
}

.popup__subtitle {
  color: #808080;
  @apply text-sm;
}

.popup__action {
  @apply flex items-center justify-center w-full py-4 text-base font-medium leading-6 text-white rounded-md;
}

.popup__close {
  position: absolute;
  top: 27px;
  right: 27px;
}

@media (min-width: 768px) {
  .popup__content {
    margin: 1.75rem auto;
  }
  .popup__content {
    height: auto;
    max-width: 453px;
    @apply rounded-4xl;
  }
}

@media (min-width: 1199px) {
  .popup__content {
    max-width: 552px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.bg-crimson-gradient {
  background: var(--tw-crimson-gradien);
}

.crimson-shadow {
  box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
}

.calc__checkbox {
  cursor: pointer;
}

.calc__checkbox_input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.calc__checkbox_label {
  font-size: 14px;
  line-height: 24px;
  padding: 6px 12px;
  background-color: #eef0f2;
  border-radius: 50px;
}

.calc__checkbox_input:checked ~ .calc__checkbox_label,
.calc__checkbox:active .calc__checkbox_label {
  background: var(--tw-crimson-gradien);
  color: #fff;
}

.input-error {
  @apply hidden;
}

.calc__input {
  @apply text-sm
  border border-[#DFE3E6]
  placeholder-[#BEC5CC]
  rounded-[3px]
  py-2
  px-[10px]
  hover:border-black
  caret-[#808080]
  focus:outline-none
  disabled:text-[#808080]
  disabled:border-[#808080]
  disabled:placeholder-[#808080]
  invalid:border-crimson
  invalid:placeholder-crimson
  invalid:text-crimson
  hover:invalid:border-crimson hover:invalid:placeholder-crimson
  valid:border-green-500
  valid:placeholder-green-500
  valid:text-green-500
  hover:valid:border-green-500 hover:valid:placeholder-green-500;
}

.calc__input:invalid:required + .input-error {
  @apply inline mt-1 text-crimson text-2xs;
}

.checkbox-group .checkbox-input {
  width: 0;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
}

.checkbox-group label {
  cursor: pointer;
}

.checkbox-group .checkbox-label {
  display: flex;
  position: relative;
  padding-left: 32px;
}

.checkbox-group label:active .checkbox-label:before {
  border: 1px solid #000;
}

.checkbox-group .checkbox-label:before,
.checkbox-group .checkbox-label:after {
  content: '';
  display: flex;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  position: absolute;
  left: 0;
  align-items: center;
}

.checkbox-group .checkbox-label:after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' fill='%23FF5E56' /%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' fill='url(%23paint0_linear)' /%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' stroke='%23FF5E56' /%3E%3Cpath d='M0.5 6C0.5 2.96243 2.96243 0.5 6 0.5H14C17.0376 0.5 19.5 2.96243 19.5 6V14C19.5 17.0376 17.0376 19.5 14 19.5H6C2.96243 19.5 0.5 17.0376 0.5 14V6Z' stroke='url(%23paint1_linear)' /%3E%3Cpath d='M7.45455 13.7015L4.11364 10.2537L3 11.403L7.45455 16L17 6.14925L15.8864 5L7.45455 13.7015Z' fill='white' /%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='20' y1='0.798563' x2='-7.38102' y2='7.95678' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23DC3131' /%3E%3Cstop offset='0.932292' stop-color='%23FF4F4F' stop-opacity='0' /%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='20' y1='0.798563' x2='-7.38102' y2='7.95678' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23DC3131' /%3E%3Cstop offset='0.932292' stop-color='%23FF4F4F' stop-opacity='0' /%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
}

.checkbox-group .checkbox-input:not(:checked) ~ .checkbox-label:after {
  opacity: 0;
}

.checkbox-group .checkbox-label:before {
  border: 1px solid #dfe3e6;
}

.checkbox-group .checkbox-input:checked ~ .checkbox-label:before {
  opacity: 0;
}
